<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", {title: 'Episode:' + data.episodeTitle}) %>
    <link rel="stylesheet" href="/public/css/episode.css" />
</head>
<body>

    <%- include("partials/navbar.ejs") %>

    <div class="container">
        <div class="header">
            <span class="nav"><a href="/series/<%= String(Number(data.episodeID.split('E')[0].split('S')[1])) %>">View full series</a></span>
            <span class="title">
                Episode: <span class="tag"><%= data.episodeID %> - <i><%= data.episodeTitle %></i></span> (<%= data.tracks.length %> track<%= data.tracks.length === 1 ? "" : "s" %>)
            </span>
        </div>
        <%- include("partials/trackTable", {tracks: data.tracks})  %>
    </div>

</body>
</html>