<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", {title: tag.name, description: `Motifs tagged with '${tag.name}'`}) %>
    <title>Tag: <%= tag.name %> - Doctor Who Leitmotif Catalogue</title>
    <link rel="stylesheet" href="/public/css/tag.css" />
</head>
<body>

    <%- include("partials/navbar.ejs") %>

    <div class="container">
        <div class="header">
            <span class="nav"><a href="/">< Home</a></span>
            <span class="title">
                Tag: <span class="tag"><%= tag.name %></span> (<%= tag.motifs.length %>)
            </span>
        </div>
        <%- include("partials/motifTable", {motifs: tag.motifs}) %>
    </div>

</body>
</html>